@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> <i class="bi bi-suit-heart-fill"></i> &nbsp Welcome To Cafe Tatheer &nbsp<i class="bi bi-suit-heart-fill"></i></h1>
</div>
